# Environment variable example

# SendGrid (optional) - if present, the contact form will send real emails
SENDGRID_API_KEY=
SITE_CONTACT_EMAIL=hello@setsmart.example

# For Vercel (optional)
# VERCEL_TOKEN=
# VERCEL_ORG_ID=
# VERCEL_PROJECT_ID=
